name: hello-world
on: push
jobs:
  hello-world-job:
    runs-on: ubuntu-latest
    steps:
      # checkout handles the retrieval of the repository's code and
      # allows you to run scripts or other actions against your code (such as build and test tools)
      - name: Check out repository code  # optional but recommended
        uses: actions/checkout@v3
      - run: echo "$(cat hello_world.txt)"