name: reusable-build-test-deploy
#on: push

on:  # Specifies the event triggering the workflow
  workflow_call:  # Indicates that this is a reusable workflow
    inputs:  # Defines the inputs that can be passed from the caller workflow
      node-version:
        description: "Node version"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: check out repo
        uses: actions/checkout@v3
      - name: use node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
      - run: npm install
      - run: npm run build
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: use node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
      - run: npm install
      - run: npm test
  deploy:
    needs: test
    # permissions keyword controls what tasks or processes our workflow can perform
    # To deploy to Pages, it's essential that token has the necessary “write” access.
    permissions:
      deployments: write
      contents: write
      statuses: write
      actions: write
      pages: write
      id-token: write
    environment:
      name: production
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo w/ authentication
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: use node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
      - run: npm install
      - run: npm run build
      - name: configure github pages
        uses: actions/configure-pages@v3
        with:
          static_site_generator: next
      - name: upload artifacts
        uses: actions/upload-pages-artifact@v1
        with:
          # typical output from building a Next.js application
          path: "./out"
      - name: deploy
        # Giving the step an id can be useful
        # if we need to reference this particular step in subsequent tasks
        # or to check on its status in more intricate workflows.
        id: deployment
        uses: actions/deploy-pages@v1